# Use clang as C++ compiler.
build --repo_env='CC=clang'

# Use C++17 language features.
build --cxxopt='-std=c++17'

# Target JDK11.
build --javabase=@bazel_tools//tools/jdk:remote_jdk11

# Build with address sanitizer (ASAN).
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
