# This workflow will run linters on a subset of subtrees.

name: Run linters

on:
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint subtrees
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    steps:
    - name: Set up JRE 11.0.10 for x64
      uses: actions/setup-java@v1
      with:
        java-version: '11.0.10'
        java-package: jre
        architecture: x64

    - name: Check out revision
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up linters
      uses: ./.github/actions/set-up-linters

    - name: Lint any-sketch
      working-directory: any-sketch
      run: ../.github/scripts/lint.sh ${{ github.event.pull_request.base.sha }} HEAD

    - name: Lint any-sketch-java
      working-directory: any-sketch-java
      run: ../.github/scripts/lint.sh ${{ github.event.pull_request.base.sha }} HEAD

    - name: Lint cross-media-measurement
      working-directory: cross-media-measurement
      run: ../.github/scripts/lint.sh ${{ github.event.pull_request.base.sha }} HEAD

    - name: Lint cross-media-measurement-api
      working-directory: cross-media-measurement-api
      run: ../.github/scripts/lint.sh ${{ github.event.pull_request.base.sha }} HEAD

    - name: Lint examples
      working-directory: examples
      run: ../.github/scripts/lint.sh ${{ github.event.pull_request.base.sha }} HEAD

    - name: Lint rules-swig
      working-directory: rules-swig
      run: ../.github/scripts/lint.sh ${{ github.event.pull_request.base.sha }} HEAD
