# This workflow will run linters on a subset of subtrees.

name: Run linters

on:
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    steps:
    - name: Set up JRE 11.0.10 for x64
      uses: actions/setup-java@v1
      with:
        java-version: '11.0.10'
        java-package: jre
        architecture: x64

    - name: Check out revision
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up linters
      uses: ./.github/actions/set-up-linters

    - name: Lint
      env:
        SUBTREES: any-sketch any-sketch-java cross-media-measurement cross-media-measurement-api examples rules-swig
      run: |
        for subtree in $SUBTREES; do (
          cd "${subtree}"
          echo "Running linters in ${subtree}"
          ../.github/scripts/lint.sh ${{ github.event.pull_request.base.sha }} HEAD
        ); done
